
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target-"#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
      </button>
      <a class="navbar-brand" href="">Moo NFC Linker App </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
            <a href="../nfc_urls/chooser">New</a>
        </li>
        <li>
            <a href="/nfc_urls">URLs</a>
        </li>
   </div> 
 </div>
</nav>

<br>
<br>
<br>

<h2> I want my card to go to many links based on... </h2> <br>  



<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("glyphicons-190-brightness-increase.png",alt:"blah")%>
      <div class="caption">
        <h3>The Weather!</h3>
        <p><font color="CornflowerBlue"> Each time a user taps your card against their phone, one of three links will come up. Depende en el tiempo: ¿hace sol, está nublado, o está lloviendo? <br></font> 
         </p> <br>
        
			<%= simple_form_for(@nfc_url, url: new_nfc_url_path(), method: :get, html: { class: 'form-horizontal' }) do |f| %>
			<%= f.hidden_field 'behaviour', value: 'weather' %>
			<%= f.button 'submit', "Create Weather URL" %>
			<% end %>
	

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("glyphicons-341-globe.png",alt:"blah")%>

      <div class="caption">
        <h3>Location, location, location.</h3>
        <p><font color="CornflowerBlue"> Each time a user taps your card against their phone, one of three links will come up, depending on where the are in London. </font></p> 
			<%= simple_form_for(@nfc_url, url: new_nfc_url_path(), method: :get, html: { class: 'form-horizontal' }) do |f| %>
			<%= f.hidden_field 'behaviour', value: 'geo' %>
			<%= f.button 'submit', "Create Location URL" %>
			<% end %>
	

      </div>
    </div>
  </div>


    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("glyphicons-323-playing-dices.png",alt:"blah")%>
      <div class="caption">
        <h3>Nothing!</h3>
        <p><font color="CornflowerBlue">Each time a user taps your card against their phone, one of three links (of your choosing) will come up randomly. Halten Sie sie zu schätzen... <br> </font></p> <br> <br> <br> 
        
		<%= simple_form_for(@nfc_url, url: new_nfc_url_path(), method: :get, html: { class: 'form-horizontal' }) do |f| %>
		<%= f.hidden_field 'behaviour', value: 'random' %>
		<%= f.button 'submit', "Create Random URL" %>
		<% end %>

      </div>
    </div>
  </div>

    
</div>

  




<a href="/nfc_urls" class="btn btn-default">I change my mind!</a> 