<h1>Location-Based Action</h1>

 <%= simple_form_for(@nfc_url, url: nfc_urls_path, method: :show ) do |f| %>
   <%= f.hidden_field :behaviour, :value => 'geo' %>

  <% if @nfc_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nfc_url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @nfc_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.fields_for :geo_url, @nfc_url.geo_url do |geo| %>

    <div class="field">
      <%= geo.label "URL 1:" %><br>
      <%= geo.text_field :url_1 %> 
      <%= geo.select( :location_1,  ['Will load when tapped at...', 'South Kensington', 'Shoreditch', 'Canary Wharf']) %>
  

    </div>
    <%end%>

  <%= f.fields_for :geo_url, @nfc_url.geo_url do |geo| %>

    <div class="field">
      <%= geo.label "URL 2:" %> <br>
      <%= geo.text_field :url_2 %>
      <%= geo.select( :location_2,  ['Will load when tapped at...', 'South Kensington', 'Shoreditch', 'Canary Wharf']) %>
  

  </div>
  <%end%>

    <%= f.fields_for :geo_url, @nfc_url.geo_url do |geo| %>

    <div class="field">
      <%= geo.label "URL 3:" %> <br>
      <%= geo.text_field :url_3 %>
      <%= geo.select( :location_3,  ['Will load when tapped at...', 'South Kensington', 'Shoreditch', 'Canary Wharf']) %>
  

  

  </div>
  <%end%>


  <div class="actions">
          <%= f.button 'submit', "Now that's what I'm talking about!" %>

  </div>
<% end %>
