<h1>Weather Action</h1>

 <%= form_for(@nfc_url) do |f| %>
  <%= f.hidden_field :behaviour, :value => 'geo' %>

  <% if @nfc_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nfc_url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @nfc_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "URL" %><br>
    <%= f.text_field :name %> 
  </div>
 

  <div class = "field">
    <%= f.label "When I tap my card, this link will come up if it's:" %>
<br>  
 <select name = "url[condition]">
    <option value = ""> Please select </option>
    <option value = "raining"> Raining </option>
    <option value = "sunny"> Sunny </option>
    <option value = "cloudy"> Cloudy</option>
  </select>
  

  </div>
  
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
