<h1>Random Action</h1>

 <%= form_for(@nfc_url) do |f| %>
   <%= f.hidden_field :behaviour, :value => 'random' %>

  <% if @nfc_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nfc_url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @nfc_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :random_url do |rando| %>

    <div class="field">
      <%= rando.label "URL 1" %><br>
      <%= rando.text_field :url_1 %> 
      <%= rando.label "URL 2" %> <br>
      <%= rando.text_field :url_2 %>
      <%= rando.label "URL 3" %> <br>
      <%= rando.text_field :url_3 %>
    </div>
 
  <% end %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
