<h1>Weather Based Action</h1>

 <%= simple_form_for(@nfc_url, url: nfc_urls_path, method: :show ) do |f| %>
   <%= f.hidden_field :behaviour, :value => 'weather' %>

  <% if @nfc_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nfc_url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @nfc_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.fields_for :weather_url, @nfc_url.geo_url do |weather| %>

    <div class="field">
      <%= weather.label "URL 1:" %><br>
      <%= weather.text_field :url_1 %> 
      <%= weather.select( :weather_1,  ['Will load when it is...', 'Sunny', 'Raining', 'Overcast']) %>
  

    </div>
    <%end%>

      <%= f.fields_for :weather_url, @nfc_url.geo_url do |geo| %>

    <div class="field">
      <%= geo.label "URL 2:" %><br>
      <%= geo.text_field :url_2 %> 
      <%= geo.select( :weather_2,  ['Will load when it is...', 'Sunny', 'Raining', 'Overcast']) %>
  

    </div>
    <%end%>

      <%= f.fields_for :weather_url, @nfc_url.geo_url do |geo| %>

    <div class="field">
      <%= geo.label "URL 3:" %><br>
      <%= geo.text_field :url_3 %> 
      <%= geo.select( :weather_3,  ['Will load when it is...', 'Sunny', 'Raining', 'Overcast']) %>
  

    </div>
    <%end%>



  <div class="actions">
          <%= f.button 'submit', "Done!" %>

  </div>
<% end %>




