<h1>Weather Action</h1>

 <%= form_for(@nfc_url, url: nfc_urls_path, method: :show ) do |f| %>
   <%= f.hidden_field :behaviour, :value => 'weather' %>

  <% if @nfc_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nfc_url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @nfc_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <%= f.fields_for :weather_url, @nfc_url.weather_url do |weather| %>

    <div class="field">
      <%= weather.label "URL 1" %><br>
      <%= weather.text_field :url_1 %> 
      <%= weather.select( :weather_1,  ['Will load when it is...', 'Sunny', 'Raining', 'Overcast']) %>
      </div>
 
  <% end %>

    <%= f.fields_for :weather_url, @nfc_url.weather_url do |weather| %>

    <div class="field">
      <%= weather.label "URL 2" %><br>
      <%= weather.text_field :url_2 %> 
      <%= weather.select( :weather_2,  ['Will load when it is...', 'Sunny', 'Raining', 'Overcast']) %>
      </div>
 
  <% end %>

    <%= f.fields_for :weather_url, @nfc_url.weather_url do |weather| %>

    <div class="field">
      <%= weather.label "URL 3" %><br>
      <%= weather.text_field :url_3 %> 
      <%= weather.select( :weather_3,  ['Will load when it is...', 'Sunny', 'Raining', 'Overcast']) %>
      </div>
 
  <% end %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
