
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target-"#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
      </button>
      <a class="navbar-brand" href="/">Moo NFC Linker App </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
            <a href="nfc_urls/chooser">New</a>
        </li>
        <li>
            <a href="nfc_urls">URLs</a>
        </li>
   </div>
 </div>
</nav>

<br>
<br>
<br>

<p id="notice"><%= notice %></p>

<h1><center>One day, all of this will be yours... </center></h1>
<h2> <center><font color="CornflowerBlue">URLs made to-date:</font> </center> </h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Card ID</th>
      <th>Behaviour</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nfc_urls.each do |nfc_url| %>
      <tr>
        <td><%= nfc_url.id %></td>
        <td><%= nfc_url.behaviour %></td>
     
        <td><%= link_to 'Show', nfc_url %></td>
        <td><%= link_to 'Edit', edit_nfc_url_path(nfc_url) %></td>
        <td><%= link_to 'Destroy', nfc_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<a href="/nfc_urls/chooser" class="btn btn-default">Make A New NFC Card</a> </p>
<a href="/welcome/index" class="btn btn-default">Take Me Home, Country Roads</a> 