
<p>
  <strong>ID:</strong>
  <%= @nfc_url.id %>
</p>

<p>
  <strong>Cardid:</strong>
  <%= @nfc_url.cardid %>
</p>

<p>
  <strong>Behaviour:</strong>
  <%= @nfc_url.behaviour %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @nfc_url.created_at %>
</p>


<p>
  <strong>Url 1:</strong>
  <%= @nfc_url.weather_url.url_1 %>
  
  </p>
  <p>
    <strong>Url 1 Weather Type:</strong>
   <%= @nfc_url.weather_url.weather_1 %> 
</p>



<p>
  
  <strong>Url 2:</strong>
    <%= @nfc_url.weather_url.url_2 %>

</p>

  <p>
    <strong>Url 2 Weather Type:</strong>
   <%= @nfc_url.weather_url.weather_2 %> 
</p>

<p>
  <strong>Url 3:</strong>
   <%= @nfc_url.weather_url.url_3 %>
</p>

  <p>
    <strong>Url 3 Weather Type:</strong>
   <%= @nfc_url.weather_url.weather_3 %> 
</p>


<%= link_to 'Edit', edit_nfc_url_path(@nfc_url) %> |
<%= link_to 'Back', nfc_urls_path %>


