

<!DOCTYPE html>
<p id="notice"><%= notice %></p>

<html lang="en">



<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  <p> Done! Just put this link into your MOO BusinessCards+ URL and everytime your NFC card is tapped, the user's cell phone will randomly go to one of the three links below!</p>
  <p> localhost:3000/r/<td><%= @nfc_url.cardid %></td> </p> 

<div class="container">
  <h3>The deets:</h3> 


  <p> Done! Just put this link into your MOO BusinessCards+ URL and everytime your NFC card is tapped, the user's cell phone will randomly go to one of the three links below!</p>

  <p>Link: <b><%= link_to "#{@nfc_url.cardid}", "/r/#{@nfc_url.cardid}" %></b> </p> 


<p>Everytime your NFC card is tapped, the user's cell phone will go to one of the links below, depending on London's weather at the time:</p> 

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>URL 1:</th>
        <th>Weather Pattern 1:</th>
        <th>URL 2:</th>
        <th>Weather Pattern 2:</th>
        <th>URL 3:</th>
        <th>Weather Pattern 3:</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><%= @nfc_url.weather_url.url_1 %></td>

        <td><%= @nfc_url.weather_url.weather_1 %></td>
        <td><%= @nfc_url.weather_url.url_2 %></td>
        <td><%= @nfc_url.weather_url.weather_2 %></td>

        <td><%= @nfc_url.weather_url.url_3 %></td>
        <td><%= @nfc_url.weather_url.weather_3 %></td>
      </tr>

  </tbody>
  </table>
</div>

</body>
<%= link_to 'Modify', edit_nfc_url_path(@nfc_url) %> |
<%= link_to 'I\'m done with this', nfc_urls_path %>
</html>


