

<!DOCTYPE html>
<p id="notice"><%= notice %></p>

<html lang="en">



<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Random URL</h2>
  <p> Done! Just put this link as your MOO BusinessCards+ link and everytime your NFC card is tapped, the user's cell phone will randomly go to one of the URLs you entered!</p>
     
     
 <p>Link: <b><%= link_to "#{@nfc_url.cardid}", "/r/#{@nfc_url.cardid}" %></b> </p> 

     
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID:</th>
        <th>URL 1:</th>
        <th>URL 2:</th>
        <th>URL 3:</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><%= @nfc_url.id %></td>
        <td><%= @nfc_url.random_url.url_1 %></td>
        <td><%= @nfc_url.random_url.url_2 %></td>
        <td><%= @nfc_url.random_url.url_3 %></td>
      </tr>

  </tbody>
  </table>
</div>

</body>

<%= link_to 'Revamp', edit_nfc_url_path(@nfc_url)%> |
<%= link_to 'I\'m done with this', nfc_urls_path %>
</html>





